<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow" role="navigation">
  <h5 class="my-0 mr-md-auto font-weight-normal"><img alt="logo" width="200" height="90" src="https://t4.ftcdn.net/jpg/04/92/55/15/360_F_492551542_UiAoH0DyhL1ZHH9T24masCQZBa95DyW1.jpg"></h5>
  <nav class="my-2 my-md-0 mr-md-3 p-2">          
      <!--add navigation to ides component-->
      <a class="p-2" href="#" routerLink=""><i class="fas fa-code"></i> IDEs</a>
      <!--add navigation to create an IDE-->
      <a class="p-2" href="#" routerLink="/ide/create"><i class="fas fa-plus-circle"></i> Create an IDE</a>
  </nav>  
</div>
<div class="p-2">  
  <router-outlet></router-outlet>
</div> 