input.search-ide{
    width:300px;
    height:35px;
    margin-right:5px;
    margin-left:5px;
    border:1px solid rgb(149, 149, 149)
}

img.logo-in-card{    
    height: 100px;
}

.body{
    margin: auto;
    width: 80%;
}

.search-container{
    text-align: center;
}

.card{
    margin: 0;
}
